* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*#vid {
    width: 710px;
    height: 400px;
    position: relative;
}
#vidPlay {
    font-size: 48px;
    color: rgb(63, 39, 39);
}
#vidLayout {
    position: absolute;
    z-index: 2;
    width: 710px;
    height: 400px;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 400px;
}
#vidControls {
    width: 710px;
    height: 60px;
    background: black;
    opacity: 0.7;
    display: inline-flex;
    
    align-items: center;
    padding-left: 30px;
    position: absolute;
    left: 0;
    top: 340px;
    z-index: 1;
}
#vidPause,
#vidPlayer,
#vidDuration,
#vidCurrentDuration,
#slash,
#vidVolumeUp,
#vidVolumeDown,
#vidVolumeMute {
    color: white;
    margin-right: 10px;
    
}
#vidCurrentDuration {
    width: 70px;
}
#Layer_1 {
    width: 400px;
    height: 130px;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}*/

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myVideo {
    width: 1122px;
    height: 515px;
    background-color: black;
}
.videoControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1122px;
    height: 60px;
    background-color: black;

}
.controlers {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.controlButtons {
    width: 46px;
    height: 36px;
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
}
.seek input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: rgb(209, 208, 208);
    height: 3px;
    outline: none;
    cursor: pointer;
}
.seek input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(209, 208, 208);
}
.volumeControl input[type=range] {
    -webkit-appearance: none;
    /* width: 100%; */
    background: rgb(209, 208, 208);
    height: 3px;
    outline: none;
    cursor: pointer;
}
.volumeControl input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(209, 208, 208);
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(209, 208, 208);
}
input[type=range]::-webkit-progress-value {
    background-color: orange;
  }

/*input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 100%;
    background: #ffffff;
    height: 3px;
    outline: none;
    cursor: pointer;
}
input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    width: 100%;
    background: #ffffff;
    height: 3px;
    outline: none;
    cursor: pointer;
}*/

  
.ytp-svg-fill {
    fill: white;
}
#slideSeek {
    width: 1100px;
}
.volumeControl {
    display: inline-flex;
    align-items: center;
}
.volumeControl:hover #volumeSeek {
    width: 40px;
    display: inline-flex;
}
.durationControl {
    display: inline-flex;
    align-items: center;
    
    
    
    
}
.playControls {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.durTime {
    margin-left: 20px;
    color: white;
   
}

#volumeSeek {
    
    display: none;
    
    
}
